<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/using %>
    <script type="text/javascript" src='/javascripts/coder.js'></script>
    <script type="text/javascript">
      window.onload=function(){

        document.getElementById('btn').onclick=function(){
          var ss = new SonicSender();
          var _val = document.getElementById('txt').value;
          ss.send(_val,function(){
            document.getElementById('txt').value = '';
          });
        };

        var _time= new Date(),
          _fps=function(){
            _now = new Date();
            console.log(_time-_now);
            _time=_now;
            requestAnimationFrame(_fps);
          };
        //_fps();
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <input id='txt' type="text" value='Hello Jsonic' />&nbsp;<a id='btn'>Send</a>
    <div id='bSending'></div>
  </body>
</html>
