<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/using %>
    <script type="text/javascript" src='/javascripts/UEMelody.js'></script>
    <script type="text/javascript" src='/javascripts/guitar.js'></script>
    <script type="text/javascript">
      window.onload=function(){
        var context = new webkitAudioContext();
        var osc  = context.createOscillator();
        osc.frequency.value = 440;
        osc.connect(context.destination);
        var _c = context.currentTime;
        osc.start(_c);
        osc.stop(_c+1);
        setTimeout(function(){
          _c = context.currentTime;
          osc.start(_c);
          osc.stop(_c+1);
        },1200);
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <canvas id='cvs4' width=800 height=400></canvas>
  </body>
</html>
