<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/using %>
    <script type="text/javascript" src='/javascripts/sonicTrans.js'></script>
    <script type="text/javascript">
      window.onload=function(){
        var band = new Jsonic.Band();
        band.initDefaultChannel();
        document.getElementById('btn').onclick=function(){
            band.send('Jsonic');
        };
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <input id='txt' type="text" value='216' />&nbsp;<a id='btn'>Send</a>
    <div id='bSending'></div>
  </body>
</html>
