<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      div{margin-top: 20px; height: 100px;}
    </style>
    <% include ../partials/using %>
    <script type="text/javascript" src='/javascripts/Jsonic.js'></script>
    <script type="text/javascript" src='/privateJs/analyser.js'>></script>
  </head>
  <body>
    <div id='bd'></div>
    <div id='board'></div>
    <canvas id='cvs' width=420 height=300></canvas>
  </body>
</html>
