<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/using %>
    <script type="text/javascript" src='/javascripts/UEMelody.js'></script>
    <script type="text/javascript">
	    window.onload=function(argument){
	    	var _myVoix = new MyVoix(undefined,undefined,true);
	    	_myVoix.start();
	    };
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
