<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/using %>
    <script type="text/javascript" src='/javascripts/SonicPainter.js'></script>
    <script type="text/javascript">
	    window.onload=function(argument){
	        var cvs1=document.getElementById('cvs1'),
            cvs2=document.getElementById('cvs2'),
            cvs3=document.getElementById('cvs3'),
            cvs4=document.getElementById('cvs4'),
            btn=document.getElementById('btnStart');
          var sonicPainter = new SonicPainter();
          navigator.webkitGetUserMedia({audio:true},function(e){
            var context = new webkitAudioContext(),
              audioInput = context.createMediaStreamSource(e),
              analyser = context.createAnalyser(),
              splitter = context.createChannelSplitter();

              analyser.smoothingTimeConstant = 0.3;
              analyser.fftSize = 1024;

              audioInput.connect(splitter);
              splitter.connect(analyser,0,0);
              analyser.connect(context.destination);

              sonicPainter.attach(cvs1,analyser,{'BF':{func:'line'}});
              sonicPainter.attach(cvs2,analyser,{'FF':{func:'line'}});
              sonicPainter.attach(cvs3,analyser,{'BT':{func:'line'}});
              sonicPainter.attach(cvs4,analyser,{'FT':{func:'line'}});

          },function(){});

          btn.onclick=function(){
            if(btn.innerHTML=='start'){
              btn.innerHTML='stop';
              sonicPainter.start();
            }else{
              btn.innerHTML='start';
              sonicPainter.stop();
            }
          };
	    };
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a id='btnStart'>start</a></p>
    <canvas id='cvs1' width=800 height=400></canvas>
    <canvas id='cvs2' width=800 height=400></canvas>
    <canvas id='cvs3' width=800 height=400></canvas>
    <canvas id='cvs4' width=800 height=400></canvas>
  </body>
</html>
