<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/using %>
    <script type="text/javascript" src='/javascripts/sonicTrans.js'></script>
    <script type="text/javascript">
      window.onload=function(){

        var band = new Jsonic.Band();
        band.initDefaultChannel();

        navigator.webkitGetUserMedia({
            audio:{optional:[{echoCancellation:false}]}
        },function(stream){
            _input = band.AudioContext.createMediaStreamSource(stream);
            band.listenSource(_input);
            band.scanEnvironment();
        },function(e){});
      }
    </script>
  </head>
  <body>
    <div id='board'></div>
  </body>
</html>
